.container-instagram {
  background-color: #025974;
}

.conteudo-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
}

.botao-instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.botao-instagram a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9FFFC;
  border: none;
  padding: 5px 16px;
  max-width: 220px;
  border-radius: 10px;
  margin-right: 10px;
  color: #025974;
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.4rem;
  box-shadow: 1px 2px 5px #002a596e;
  transition: transform 0.6s ease, background-color 0.3s ease; /* Transição suave para expansão e cores */
}

.botao-instagram a:hover {
  background-color: #b8e3f0; /* Cor de fundo ao passar o mouse */
  transform: scale(1.05); /* Expande o elemento para 110% do seu tamanho original */
}

.botao-instagram img {
  margin-right: 10px;
  height: 1.4rem;
  width: 1.4rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9FFFC;
}

footer p {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #025974;
}

footer a {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1rem;
  color: #025974;
}


@media (max-width: 500px) {
  .conteudo-instagram img {
    width: 220px;
    height: auto;
    gap: 30px;
  }
}